@media (min-width: 720px) {
    .member-image .image {
        width: 160px;
    }
}

.fll {
    float: left;
}
.flr {
    float: right;
}

.mb-15 {
    margin-bottom: 20px;
}
.member-block {
    padding: 15px 5px 5px 5px;
}

.member-block .card-title {
    display: flow-root;
}